@model PaginatedList<Inventory.ViewModel.Bill.BillTypeListViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-6">
        <label>Add New Bill</label>
        <a asp-action="Create" asp-controller="BillType" class="btn btn-primary"> Add </a>
    </div>
    <div class="col-6"> Search Here .... </div>
    <hr />
<div class="row">
    <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].BillTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].BillTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-route-id="@item.BillTypeId"  asp-action="Edit" class="btn btn-primary"> Edit </a>
                             |
                            <a asp-route-id="@item.BillTypeId"  asp-action="Delete" class="btn btn-danger"> Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
</div>
</div>